@font-face {
    font-family: Louis;
    src: url(/fonts/Louis\ George\ Cafe\ Bold.ttf);
}
@font-face {
    font-family: nexa;
    src: url(/fonts/Nexa-Heavy.ttf);
}
body{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(254,244,224,1) 0%, rgba(255,214,214,0.5627043053549545) 50%, rgba(188, 247, 226, 0.487) 100%);
    margin: 0px;
}
a{
    text-decoration: none;
}
.fils{
    margin: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.fil_lien{
    color: #095f68;
}
/* LIEN */
header{
    display: flex;
    justify-content: center;
    margin: 40px;

    top: 0;
    position: sticky;
    z-index: 99;
}
.alllien{
    gap: 40px;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 0.841);
}
.lien{
    margin-left: 40px;
    margin-right: 40px;
    font-family: Louis;
    color: #095f68;
    font-weight: bold;
    font-size: 16px;
}
.titre{
    font-family: Louis;
    font-size: 40px;
    color: #095f68;
}
.active{
    padding: 9px 20px 9px 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
/* MAIN */
main{
    border-style: solid;
    border-width: 4px;
    border-color: #095f68;
    border-radius: 30px;
    padding: 40px;
    margin: 30px;
}
.description{
    font-family: nexa;
    font-size: 17px;
    color: rgb(86, 86, 86);
}
h1{
    font-family: nexa;
    color: #095f68;
}
h2{
    font-family: nexa;
    color: #095f68;
}
p{
    color: #095f68;
}
/* MOODBOARD */
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.moodboard{
    border-radius: 30px;
    width: 400px;
    margin: 10px;
}



footer{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.footer_liens{
    display: flex;
    flex-direction: column;
}
.footer_l{
    color: #095f68;
    text-align: right;
    font-weight: bold;
}